Keys.plist

*.xcuserstate
Bookshelf.xcodeproj/project.xcworkspace/xcuserdata/aaronpeterson.xcuserdatad/UserInterfaceState.xcuserstate
/Bookshelf.xcodeproj/project.xcworkspace
/Bookshelf.xcodeproj/project.xcworkspace/xcuserdata
/Bookshelf.xcodeproj/project.xcworkspace/xcuserdata/aaronpeterson.xcuserdatad
.DS_Store
*.xcbkptlist
