Keys.plist
*.xcuserstate
Bookshelf.xcodeproj/project.xcworkspace/xcuserdata/aaronpeterson.xcuserdatad/UserInterfaceState.xcuserstate
/Bookshelf.xcodeproj/project.xcworkspace
/Bookshelf.xcodeproj/project.xcworkspace/xcuserdata
/Bookshelf.xcodeproj/project.xcworkspace/xcuserdata/aaronpeterson.xcuserdatad
.DS_Store
Bookshelf.xcodeproj/xcuserdata/aaronpeterson.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.xcbkptlist
*.xcuserstate
Bookshelf.xcodeproj/project.xcworkspace/xcuserdata/aaronpeterson.xcuserdatad/UserInterfaceState.xcuserstate
